<?xml version="1.0"?>
<!--
 * @package   ScandiPWA\CookieBot
 * @author    Dmitrijs Tarasovs <dmitrijs.tarasovs@scandiweb.com>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cookie_bot" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cookiebot</label>
            <tab>scandipwa</tab>
            <resource>ScandiPWA_CookieBot::cookiebot_config</resource>

            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cookiebot Configuration</label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="group_id" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Domain Group ID</label>
                </field>
            </group>
        </section>
    </system>
</config>
